---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home | My School">
	<section class="container" style="padding: 4rem 0;">
		<h1>Welcome to our School</h1>
		<p>This page now has a fully responsive global navigation bar.</p>
	</section>
</Layout>
